<ion-fab bottom right fixed style="position:fixed;">
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-youtube"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left">
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
    </ion-fab-list>
</ion-fab>